.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0% 0%;
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background: #5a8ed1;
  border-radius: 100px 0px 115px;
  height: 220px;
}

.demo {
  font-size: 50px;
}

.contactBtn {
  border: 1.5px solid #ffffff;
  border-radius: 40px;
  background-color: #5a8ed1;
  color: white;
  padding: 7px 1.5rem;
}

.midContent {
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.ContactLogo {
  background: #c0dbff;
  border-radius: 15px;
  padding: 0.3rem 1.5rem;
}

.ContactList {
  list-style: none;
  padding: 0;
}

.Listheading {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #1a1b38;
}

.ListContent {
  margin: 5px 0px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1a1b38;
}

.contactMidBox {
  display: flex;
  flex-direction: column;
  color: black;
  background: #f7f9fd;
  box-shadow: 0px 37px 72px -34px rgba(52, 87, 220, 0.349389);
  padding: 4% 10%;
  margin-bottom: 3rem;
}

.midlastBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.midlastFirstBox {
  width: 270px;
  font-size: 16px;
}

.terms {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.social {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  letter-spacing: 0.01em;

  color: #000000;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstoval {
  position: absolute;
  width: 1275.49px;
  height: 644.72px;
  left: -991.68px;
  top: -308.04px;
  mix-blend-mode: normal;
  opacity: 0.28;
  border-radius: 347px;
  border: 1px solid #5a8ed1;
}

.secondoval {
  position: absolute;
  width: 1275.49px;
  height: 370.72px;
  left: 600px;
  top: 320px;
  mix-blend-mode: normal;
  opacity: 0.28;
  border: 1px solid hsl(214, 56%, 59%);
  border-radius: 1000px;
  overflow:hidden;
}

.contact{
   
}